{% extends "template.html" %}
{% block conteudo %}
    <a class="btn btn-primary" href="{{ url_for('novo') }}">Novo Projeto</a>
    <a class="btn btn-primary" href="{{ url_for('novo') }}">Simular Investimento</a>

        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Nome Projeto </th>
                    <th>Data Inicio</th>
                    <th>Data fim</th>
                    <th>valor Projeto</th>
                    <th>Risco</th>
                    <th>Participantes</th>
                </tr>
            </thead>
            <tbody>
            {% for projeto in projetos %}
                <tr>
                    <td>{{ projeto.nome }}</td>
                    <td>{{ projeto.dtInicio }}</td>
                    <td>{{ projeto.dtFim }}</td>
                    <td>{{ projeto.valorProjeto }}</td>
                    <td>{{ projeto.risco }}</td>
                    <td>{{ projeto.participantes }}</td>
                    <td>
                        <a href="{{ url_for('editar', id=projeto.id) }}">Editar</a>
                        <a href="{{ url_for('deletar', id=projeto.id) }}">Deletar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}